.display-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blanchedalmond;
}

.display-box {
  display: flex;
  align-items: flex-start;
  border: none;
  border-bottom: 1px solid rgba(158, 178, 228, 0.5);
  
  width: 512px;
  height: 768px;

  position: relative; 
  background: white;
}

h1{
  display: flex;
  font-size: 40px;
  margin: 10px;
  border: 0px;
}

.input {
  display: flex;
  padding: 1%;
  align-items: center;

}

.textbox {
  width:360px;
  height:30px;
  font-size:20px;
}

.addbutton {
  display:flex;
  width:40px;
  height:40px;
  border-radius: 50%;
  margin-left: 20px;
  align-items: center;
  font-weight: bolder;
}

.refbutton {
  display:flex;
  width: 60px;
  height:40px;
  border-radius: 5%;
  margin-left: 20px;
  align-items: center;
  font-weight: bolder;
  justify-content: center;
}

table {
  width: 512px;
}

tr {
  display: flex;
  flex-direction: row;
  border-radius: 5%;
  padding: 2%;
  align-items: center;
}

.doneBox{
  width:20px;
  height:20px;
}

.todoBox {
  width:400px;
  padding: 10px;
  font-size: 30px;
  font-weight: 800;
  
}

.deleteButton {
  width:30px;
  height:30px;
  font-size:20px;
  font-weight:bolder;
}